.name, .job, hr, .personal, a {
    margin-left: 200px;
    margin-right: 200px;
}

p a h1 {
    font-family: Muli, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
}

a {
    display: flex;
    color: #000000;
    justify-content: center;
}

.nav {
    display: flex;
    background-color: #7e7676;
    color: #ffffff;
    justify-content: flex-end;
}

.nav div {
    padding: 15px;
}

.name, .job {
    display: flex;
    white-space: pre-wrap;
    justify-content: center;
}

.personal {
    display: flex;

}

.ppic{
    float: left;
}