p {
    color: #ffae00;
    background-color: #fff4d6;
}

/*changes color of visited link*/
a:visited{
    color: #00ff00;
}

a:hover{
    color: #b042f5;
}

body{
    background-color: black;
    background-image: url("../images/pumpkin.png");
    background-repeat: no-repeat;
}

.second{
    border: 2px solid #ff0000;
    padding: 10px;
    margin: 20px;
}