p, h1 {
    color: teal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em; /* 1.5em means 150% */
    font-weight: bolder;
}

/* descendant selectors pick an element inside another element*/
p a {
    color: orange;
}

#firstbullet {
    color: green;
}

.pinktext {
    color: pink;
}